*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: #431c9e;
    height: 100vw;
    
}

.icon{
    width: 150px;
    height: 150px;
    border-radius: 19rem;
    margin-right: 130px;
    
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
p{
    
    font-family: 'Poppins';
    font-weight: normal;
}
.texto{
    background-color: white;
    width: 350px;
    color: black;
    margin: 12px;
    padding: 10px;
    border-radius: 10px;

}

img, .heart{
    display: flex;
   width: 50px;
   margin: 0;
   margin-left: 140px;

}


