*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vw;
    background: url("Bullseye-Gradient.svg")  ;


}

.icon{
    width: 150px;
    height: 150px;
    border-radius: 19rem;
    margin-right: 130px;
    
}


.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

}
p{
    
    font-family: 'Poppins';
    font-weight: normal;
    font-size: 17px;
}
.texto{
    background-color: white;
    width: 350px;
    color: black;
    margin: 12px;
    padding: 10px 10px 50px 10px;  
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

img, .heart{
    
   width: 90px;
   margin: 0;
   

}


.btn{
    background: none;
    border: 1px green solid;
    padding: 10px 20px
    10px 20px
    ;
    border-radius: 10px;
    margin-top: 22px;
      
}

.btn, a{
    text-decoration: none;
    color: black;
}